@import url(http://fonts.googleapis.com/css?family=Arvo);

html {
    background-color: #fdfcfb; 
}

ul {
    list-style: none;
}

h1 {
    font-family: Arvo, Arial, sans-serif;
    font-size: 60px;
    line-height: 75px;
    font-weight: 400;
    color: #3bb428;
    text-transform: lowercase;
}
header h2 {
    font-family: Arvo, Arial, sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 200;
    color: #3bb428;
    letter-spacing: 1px;
    margin-top:15px;
}

header {
    min-width: 100%;
    width: 100%;
    text-align: center;
    min-height: 120px; 
    margin-top: 50px;
}

#connect {
    width:100%;
    margin: 0 auto;
    text-align: center;
	margin-top:30px;
	margin-bottom:30px;
}

h3 {
    font-family: Arvo, Arial, sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 200;
    color: white;
}

p  {
    font-family: Arvo, Arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 200;
    color: white;
	margin-top:10px;
}

#footer {
	text-align: right;
	padding-right: 15px;
	float: right;
    font-family: Arvo, Arial, sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: 	#3bb428;
	margin-bottom: 50px;
}

#footer a {
	text-decoration: none;
    color: 	#3bb428;
}

#footer a:hover {
	text-decoration: underline;
}